extends layout 

block main-content 
    form.vocab-form
        h2 Learn a new word with Artificial&nbsp;Intelligence!
        p Whether you're preparing for standardized examinations like the SATs, learning English as a second language, or just curious, these AI-generated cards are here to help!
        button See Card
    .card 
        p Click "See Card" to see your vocab&nbsp;card!
        form.pronounce-form
            input(type="hidden", name="pronounce-vocab", id="pronounce-vocab")
            button#pronunciation Pronunciation