doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="AI-powered vocabulary index cards with definitions, examples, and pronunciation — for effective exam prep and English-language learning.")
        title #{title} | AI-Powered Vocabulary Index Cards
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="/style.css")
        meta(property="og:title", content="AI-Powered Vocabulary Index Cards")
        meta(property="og:site_name", content="AI-Powered Vocabulary Index Cards")
        meta(property="og:url", content="http://vocab.lindybner.com")
        meta(property="og:description", content="AI-powered vocabulary index cards with definitions, examples, and pronunciation — for effective exam prep and English-language learning.")
        meta(property="og:image", content="http://lindybner.com/images/ai-vocab.png")
    body 
        header
            h1 AI-Powered Vocabulary Index&nbsp;Cards
        main.container
            block main-content
        footer 
            p &copy; 
                span#copy-year 
                span  
                a(href="http://lindybner.com", target="_blank") Jim Lin-Dybner
                span .
        script(src="/script.js") 