doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title} | AI-Powered Vocabulary Index Cards
        link(rel="stylesheet", href="/style.css")
    body 
        header
            h1 AI-Powered Vocabulary Index&nbsp;Cards
        main.container
            block main-content
        footer 
            p &copy;
                span#copy-year 
                span  
                a(href="http://lindybner.com", target="_blank") Jim Lin-Dybner
                span .
        script(src="/script.js") 