@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary: #000;
    --secondary: #fff;
    --tertiary: #c00;
    --bgclr: #dcdcdd;
    --subtle: #333;
}

body {
    margin: 10px;
    font-family: 'Raleway', sans-serif;
    background: var(--bgclr);
}

p {
    margin: 0;
    padding: 10px;
}

.container {
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    background: var(--subtle);
}

header {
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

form {
    background: linear-gradient(var(--tertiary), var(--subtle));
    color: var(--secondary);
    text-align: center;
    padding: 40px;
    margin-bottom: 0;
}

form * {
    display: block;
    margin: 10px auto;
}

form.pronounce-form {
    background: none;
    padding: 0;
}

.card {
    background: var(--secondary);
    padding: 20px;
    margin: 20px;
}

input {
    background: var(--bgclr);
    border: 0;
    padding: 10px;
    border-radius: 4px;
    width: 300px;
    margin: 20px auto;
}

button {
    margin-top: 30px;
    background: none;
    border: 2px solid var(--secondary);
    color: var(--secondary);
    font-size: 1.5em;
    border-radius: 4px;
    padding: 16px 48px;
    cursor: pointer;
    display: block;
    transition: 300ms;
}

button:hover {
    background-color: var(--subtle);
}

button:active {
    background-color: var(--primary);
}

a#pronunciation {
    display: none;
    color: var(--subtle);
    padding: 10px;
}

a#pronunciation:hover {
    text-decoration: none;
}

a#pronunciation:active {
    color: var(--primary);
}

#vocabulary {
    font-size: 2em;
    margin-bottom: 0.75em;
    font-weight: bold;
}

#definition {
    margin-bottom: 1em;
}

#example {
    font-style: italic;
}

footer {
    margin-top: 50px;
    text-align: center;
}

footer a {
    color: var(--primary);
    transition: 300ms;
}

footer a:hover {
    text-decoration: none;
}

footer a:active {
    color: var(--subtle);
}